*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}
.flex{
    display: flex;
    justify-content: space-between; 
}
.header{
    height: 60px;
    justify-items: center;
    align-items: center;
    background: #5E2E86;
    color: white;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header img{
    height: 130%;
    width: 130px;
}
a{
    text-decoration: none;
} 
.header a{
    color: white;
    font-weight: bold;
}
.login a{
    color: #5E2E86;
}
.login{
    padding: 8px;
    background: white;
    color:#5E2E86 ;
    border-radius: 10px;
}
.login i{
    margin-right: 3px;
}
.search a{
    margin-left: 3px;
    margin-top: 9px;
    align-items: center;
    justify-items: center;
}
.search input{
    border-radius: 10px;
    padding: 7px;
}
.bgr{
    padding-top: 60px;
    position: relative;
}
.bgr hr{
    height: 6px;
    background: #E56D25; 
}
.bgr .phone{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: green;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 100px;
    align-items: center;
    justify-content: center;
    animation: shake 0.5s infinite;
    z-index: 1000;
}
@keyframes shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    80% { transform: rotate(-10deg); }
    100% { transform: rotate(0); }
}
#backtop {
    width: 50px;
    height: 50px;
    background: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
}
.bgr .bgr-img{
    width: 100%;
}
.bgr img{
    width: 100%;
    position: relative;
}
.bgr p{
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
}
.bgr a{
    color: white;
    font-weight: bold;
}
.bgr .a-hover a:hover{
    font-size: 25px;
    color: #5E2E86;
}
.timhieuthem{
    background: #F7F6FC;
    height: 30px;
}
.timhieuthem ul{
    display: flex;
    margin-left: 280px;
    padding: 8px;
}
.timhieuthem ul li{
    list-style-type: none;
}
.timhieuthem ul a{
    color: black;
    padding: 30px;
    margin-top: 10px;
}
.hrr hr{
    margin-top: 1px;
    height: 3px;
    background: linear-gradient(to left, #E56D25, #7835BA); 
}
.tht-hover:hover{
    color: #5E2E86;
    font-weight: bold;
}
.footer {
    display: flex;
    max-width: 85%;
    margin: auto;
    padding: 20px 0; 
}

.footer-lv1{
    list-style-type: none;
    margin: auto;
    max-width: 100%;
}

.section2{
    background-color: #ececec;
}

.footer-lv1 li{
    font-size: small;
    padding-bottom: 7px;
}
.footer-lv1 h5{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
.sdt{
    background-color: #7b35ba;
    border-radius: 3px;
    padding: 4px 18px;
    color: white;
    font-weight: bold;
}
.list-icon-lv1 .fa-phone{
    padding-right: 10px;
} 
.mail{
    padding: 2px 3px;
    background-color: #7b35ba;
    border-radius: 3px;
    padding: 4px 7px;
    text-align: center;
    margin-left: 8px;
    color: white;
}
.list-icon{
    padding: 2px 3px;
    background-color: #7b35ba;
    border-radius: 3px;
    padding: 4px 7px;
    color: white;
    margin-left: 7px;
}

.list-icon-lv1{
    margin-top: 15px;
}
.end-footer {
    margin-top: 15px;
}
.list-icon1 {
    background-color: #7b35ba;
    color: white;
    padding: 4px 9px 4px 9px;
    border-radius: 3px;
    text-align: center;
}
.list-icon3 {
    background-color: #7b35ba;
    color: white;
    padding: 4px 5px 4px 5px;
    border-radius: 3px;
   margin-left: 6px;
}
.footer-lv2{
    padding-bottom: 50px;
    list-style-type: none;
}
.footer-lv2 li{
    font-size: small;
}

.footerr{
    margin-top: 0px;
    background: #5E2E86;
    height: 60px;
    text-align: center;
    align-content: center;
    color: #E9E9E9;
}
.thongtin{
    background: #7835BA;
}
.thongtin ul{
    display: flex;
    width: 80%;
    margin: auto;
}
.thongtin ul li{
    padding: 10px;
    color: white;
    background: #5f3b80;
    margin: 7px;
    opacity: 0.8;
}
.thongtin ul li:hover{
    background: #7b35ba;
    opacity: 1;
}

.tintuc{
    width: 80%;
    margin: auto;
}
.tintuc .tintuc1{
    display: flex;
    margin: 30px;
}
.tintuc .tintuc1 .tintuc_img{
    width: 30%;
}
.tintuc .tintuc1 .tintuc_img img{
    width: 100%;
}
.tintuc .tintuc1 .tintuc_text{
    width: 65%;
    margin: 20px;
    font-size: 20px;
}
.tintuc .tintuc1 .tintuc_text p{
    margin-top: 15px;
}

.tab_trang{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.tab_trang ul{
    display: flex;
}
.tab_trang ul li{
    margin: 10px;
    background: #f7f6fc;
}
.tab_trang a{
    display: block;
    padding: 10px;
    color: black;
}
.tab_trang li:hover{
    background: #936cac;
}
.tab_trang li:first-child{
    background: #936cac;
}

.timhieuthem{
    background: #F7F6FC;
    height: 30px;
}
.timhieuthem ul{
    display: flex;
    margin-left: 280px;
    padding: 8px;
}
.timhieuthem ul li{
    list-style-type: none;
}
.timhieuthem ul a{
    color: black;
    padding: 30px;
    margin-top: 10px;
}
.hrr hr{
    margin-top: 1px;
    height: 3px;
    background: linear-gradient(to left, #E56D25, #7835BA); 
}
.tht-hover:hover{
    color: #5E2E86;
    font-weight: bold;
}
.footer {
    display: flex;
    max-width: 85%;
    margin: auto;
    padding: 20px 0; 
}

.footer-lv1{
    list-style-type: none;
    margin: auto;
    max-width: 100%;
}

.section2{
    background-color: #ececec;
}

.footer-lv1 li{
    font-size: small;
    padding-bottom: 7px;
}
.footer-lv1 h5{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
.sdt{
    background-color: #7b35ba;
    border-radius: 3px;
    padding: 4px 18px;
    color: white;
    font-weight: bold;
}
/* .fa-phone{
    padding-right: 10px;
} */
.mail{
    padding: 2px 3px;
    background-color: #7b35ba;
    border-radius: 3px;
    padding: 4px 7px;
    text-align: center;
    margin-left: 8px;
    color: white;
}
.list-icon{
    padding: 2px 3px;
    background-color: #7b35ba;
    border-radius: 3px;
    padding: 4px 7px;
    color: white;
    margin-left: 7px;
}

.list-icon-lv1{
    margin-top: 15px;
}
.end-footer {
    margin-top: 15px;
}
.list-icon1 {
    background-color: #7b35ba;
    color: white;
    padding: 4px 9px 4px 9px;
    border-radius: 3px;
    text-align: center;
}
.list-icon3 {
    background-color: #7b35ba;
    color: white;
    padding: 4px 5px 4px 5px;
    border-radius: 3px;
   margin-left: 6px;
}
.footer-lv2{
    padding-bottom: 50px;
    list-style-type: none;
}
.footer-lv2 li{
    font-size: small;
}

.footerr{
    margin-top: 0px;
    background: #5E2E86;
    height: 60px;
    text-align: center;
    align-content: center;
    color: #E9E9E9;
}